<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Genevieve</a>

  <div class="">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/transaction']">Transactions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/category']">Categories</a>
      </li>
    </ul>
  </div>
</nav>
